<!-- The content below is only a placeholder and can be replaced. -->
<nav class="navbar">
  <div class="navbar-header">
    <a class="navbar-toogler" [routerLink]="['/']" [routerLinkActive]="'active'" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </a>
  </div>
</nav>
<header class="header">
  <div class="quote-container">
    <span class="quote-text">Your Things</span>
    <span class="quote-date">Sep 5. 2018</span>
  </div>
  <div class="state-container">
    <div class="states">
      <div class="state">
        <span class="state-count">24</span>
        <span class="state-type">Business</span>
      </div>
      <div class="state">
        <span class="state-count">15</span>
        <span class="state-type">Business</span>
      </div>
    </div>
    <div class="full-state"><span class="state-count">65% done</span></div>
  </div>
</header>
<mat-tab-group mat-align-tabs="center" class="days-tab">
  <mat-tab label="Yesterday">
    <ng-template matTabContent #todos>
      <div class="todos">
        <div class="todo-header">
          <span class="todo-hint">Do it now!</span>
          <span class="todo-total">{{ movies.length }}</span>
        </div>
        <cdk-virtual-scroll-viewport class="todo-viewport todo-list" cdkDropList (cdkDropListDropped)="drop($event)"
          (scrolledIndexChange)="scrolled($event)" [itemSize]="56">
          <div class="todo-item" *cdkVirtualFor="let item of movies" cdkDrag>
            <div class="todo-placeholder" *cdkDragPlaceholder></div>
            <div class="todo-desc">
              <span>Check database connection</span>
              <span class="todo-date">Today at 3 PM</span>
            </div>
            <div class="todo-state">
              <mat-checkbox></mat-checkbox>
            </div>
          </div>
          <div class="todo-item"></div>
        </cdk-virtual-scroll-viewport>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Today"> Content 2 </mat-tab>
  <mat-tab label="Tomorow"> Content 3 </mat-tab>
</mat-tab-group>

<button [routerLink]="['/todo-add']" routerLinkActive="active" class="add-todo-btn" mat-icon-button mat-raised-button>
  <mat-icon>add</mat-icon>
</button>
<button class="more-todo-btn" mat-icon-button mat-raised-button *ngIf="loading">
  <mat-icon>more_horiz</mat-icon>
</button>

<!-- <ng-template matTabContent #loading>
    <div class="todos-loading">
      <h1>loading...</h1>
    </div>
  </ng-template> -->
