$primary: #46529C;
$spacer: 16px;
$secondary-opacity: .56;


@function color($color) {
  @if (lightness($color) > 45) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}
@function colorinverse($color) {
  @if (lightness($color) > 45) {
    @return #ffffff;
  } @else {
    @return #000000;
  }
}

